# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# API Keys & Secrets (สำคัญมาก)
.env

# RAG Data & Databases
# ป้องกันฐานข้อมูล Vector หลุดไปบน Git
document_vector_db/
chroma_db/
*.pdf

# Editor settings
.vscode/
.idea/
.DS_Store